@import '../../shared/all.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: $light-mocha;
  min-height: 30vh;
}

.reactSection {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 80%;
  height: 10vh;
  background: $light-pink;
  margin-top: 5%;
  border-radius: 5px;

  > a {
    color: $black;
  }
}

.staticSection {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 80%;
  height: 10vh;
  background: $brown-pink;
  margin-top: 5%;
  border-radius: 5px;

  > a {
    color: $black;
  }
}
